html {
    scroll-behavior: smooth;
}

body {
    font-size: normal;
    font-weight: 400;
    scroll-behavior: smooth;
}

.mainn {
    background-color: rgba(255, 214, 137, 0.973);
}

ul.list li:first-child {
    font-weight: 500;
}

.cad {
    height: 80px;
    width: 80px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Lobster', cursive;
    border-radius: 2vw;
    position: absolute;
}

.front {
    /* background: linear-gradient(yellow, gold); */
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    /* background: linear-gradient(#08aeea, #2af598); */
    z-index: 1;
    transform: rotateY(180deg);
}

.contain:hover .cad {
    transform: rotateY(180deg)
}

.contain {
    perspective: 1000px
}

@keyframes logo {
    0% {
        filter: hue-rotate(90deg);
        transform: rotate(180deg);
    }
    20% {
        filter: contrast(100%);
        transform: translateY(10px);
    }
    40% {
        border-radius: 100%;
        filter: invert(150%);
    }
    60% {
        border-radius: 0%;
        filter: drop-shadow(16px 16px 20px red) invert(100%);
        transform: skewX(200);
    }
    80% {
        border-radius: 100%;
        filter: brightness(0.75);
        transform: rotate(360deg);
    }
    100% {
        border-radius: 0%;
        filter: grayscale(100%);
    }
}

.mySocial:hover {
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


/*code for mobile devices smaller than 604.72441px*/

@media screen and (max-width: 604.72441px) {
    .card {
        border: 0%;
    }
    .header,
    .front {
        background-color: rgb(154, 231, 154);
        color: white;
        padding: 5px;
    }
    .footer,
    .back {
        background-color: rgb(154, 231, 154);
        color: white;
    }
}


/* Small devices (portrait tablets and large phones, 604.72441px and up) */

@media only screen and (min-width: 604.72441px) {
    .header,
    .front {
        background-color: rgb(154, 231, 154);
        color: white;
        padding: 5px;
    }
    .footer,
    .back {
        background-color: rgb(154, 231, 154);
        color: rgb(255, 255, 255);
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .header,
    .front {
        background-color: gold;
        color: white;
        padding: 5px;
    }
    .footer,
    .back {
        background-color: gold;
        color: white;
    }
}


/* Large devices (laptops/desktops, 960px and up) */

@media only screen and (min-width: 960px) {
    .header,
    .front {
        background-color: violet;
        color: rgb(255, 255, 255);
        padding: 5px;
    }
    .footer,
    .back {
        background-color: violet;
        color: white;
    }
}


/* Extra large devices (large laptops and desktops, 1511.81102px and up) */

@media only screen and (min-width: 1511.81102px) {
    .header,
    .front {
        background-color: violet;
        color: white;
        padding: 5px;
    }
    .footer,
    .back {
        background-color: violet;
        color: white;
    }
}