html {
    scroll-behavior: smooth
}

body {
    font-size: normal;
    font-weight: 400;
    scroll-behavior: smooth
}

.mainn {
    background-color: rgba(255, 214, 137, .973)
}

ul.list li:first-child {
    font-weight: 500
}

.cad {
    height: 90px;
    width: 90px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d
}

.back,
.front {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: Lobster, cursive;
    border-radius: 2vw;
    position: absolute
}

.front {
    z-index: 2;
    backface-visibility: hidden
}

.back {
    z-index: 1;
    backface-visibility: hidden;
    transform: rotateY(180deg)
}

.contain:hover .cad {
    transform: rotateY(180deg)
}

.contain {
    perspective: 1000000px
}

@keyframes logo {
    0% {
        filter: hue-rotate(90deg);
        transform: rotate(180deg)
    }
    20% {
        filter: contrast(100%);
        transform: translateY(10px)
    }
    40% {
        border-radius: 100%;
        filter: invert(150%)
    }
    60% {
        border-radius: 0;
        filter: drop-shadow(16px 16px 20px red) invert(100%);
        transform: skewX(200)
    }
    80% {
        border-radius: 100%;
        filter: brightness(.75);
        transform: rotate(360deg)
    }
    100% {
        border-radius: 0;
        filter: grayscale(100%)
    }
}

.mySocial:hover {
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse
}

@media screen and (max-width:604.72441px) {
    .card {
        border: 0
    }
    .front,
    .header {
        background-color: #9ae79a;
        color: #fff;
        padding: 5px
    }
    .back,
    .footer {
        background-color: #9ae79a;
        color: #fff
    }
}

@media only screen and (min-width:604.72441px) {
    .front,
    .header {
        background-color: #9ae79a;
        color: #fff;
        padding: 5px
    }
    .back,
    .footer {
        background-color: #9ae79a;
        color: #fff
    }
}

@media only screen and (min-width:768px) {
    .front,
    .header {
        background-color: gold;
        color: #fff;
        padding: 5px
    }
    .back,
    .footer {
        background-color: gold;
        color: #fff
    }
}

@media only screen and (min-width:960px) {
    .front,
    .header {
        background-color: violet;
        color: #fff;
        padding: 5px
    }
    .back,
    .footer {
        background-color: violet;
        color: #fff
    }
}

@media only screen and (min-width:1511.81102px) {
    .front,
    .header {
        background-color: violet;
        color: #fff;
        padding: 5px
    }
    .back,
    .footer {
        background-color: violet;
        color: #fff
    }
}